:root {
    --color-primary: #CC2B53;
    --color-secondary: #ff9db6;
    --color-background: #ffffff;
    --color-placeholder: #b3b3b3;
    --color-text: #333333;
}

::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--color-text);
    background-color: hsl(0, 0%, 95%);
}

input, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
}

.app {
    display: grid;
    grid-template-rows: minmax(6rem, auto) 1fr;
    grid-template-columns: 0.8fr 1fr;
    position: relative;
    max-width: 1200px;
    max-height: 80rem;
    width: 100vw;
    height: 100vh;
    border-radius: 2rem;
    background-color: var(--color-background);
    overflow: hidden;
    box-shadow: hsla(0, 0%, 0%, 0.56) 0 2.2rem 7rem 4px;
}

.search {
    grid-column: 1 / -1;
    display: flex;
}

.search__input {
    width: 100%;
    border: none;
    font-size: 2.5rem;
    background: transparent;
}

.search__input:focus {
    outline: none;
}

.search__icon {
    display: grid;
    place-content: center;
    padding: 0 1.5rem;
    font-size: 2.5rem;
}

.search__clear {
    display: grid;
    place-content: center;
    padding: 0 1.5rem;
    font-size: 2.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.list {
    list-style: none;
    overflow-y: auto;
    padding: 1rem;
}

.list__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 20rem;
    padding: 2rem;
    border: 1rem solid var(--color-background);
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: start;
    cursor: pointer;
}

.list__button:hover,
.list__button:focus {
    border-color: var(--color-secondary);
}

.list__item[aria-selected="true"] .list__button {
    border-color: var(--color-primary);
}

.list__button-title {
    width: 100%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list__button-subtitle {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -.3rem;
}

.details {
    overflow-y: auto;
}

.details__close-button {
    display: none;
}

.details__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 70rem;
    padding: 0 4rem 8rem;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.details__header-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 5rem;
    font-weight: 700;
}

.details__header-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: -.5rem;
}

.details__ingredients {
    margin-top: -5rem;
    padding: 3rem 4rem 9rem;
    border-radius: 5rem 5rem 0 0;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.details__ingredients-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.details__ingredients-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    list-style-type: none;
}

.details__ingredients-list-item {
    text-transform: capitalize;
}

.details__instructions {
    margin-top: -5rem;
    padding: 3rem 4rem 6rem;
    border-radius: 5rem 5rem 0 0;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.details__instructions-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.details__instructions-description {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.8;
}

.message-display {
    grid-column: 1 / -1;
    display: grid;
    place-content: center;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.highlight {
    border-radius: .5rem;
    background-color: var(--color-primary);
}

/* Checkbox */
.checkbox__input {
    display: none;
}

.checkbox__label {
    width: 100%;
    display: grid;
    grid-template-areas: "checkmark title"
                         "checkmark caption";
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    cursor: pointer;
}

.checkbox__checkmark {
    grid-area: checkmark;
    align-self: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    border: .2rem solid #a1a4b9;
    border-radius: 50%;
}

.checkbox__input:checked + .checkbox__label .checkbox__checkmark {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.checkbox__checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox__input:checked + .checkbox__label .checkbox__checkmark::after {
    display: block;
}

.checkbox__label .checkbox__checkmark::after {
    top: .4rem;
    left: 1rem;
    width: .7rem;
    height: 1.5rem;
    border: solid white;
    border-width: 0 .3rem .3rem 0;
    transform: rotate(45deg);
}

.checkbox__title {
    grid-area: title;
    font-size: 1.6rem;
    font-weight: 300;
}

.checkbox__subtitle {
    grid-area: caption;
    font-size: 1.4rem;
    font-weight: 200;
    color: gray;
}

@media screen and (max-width: 768px) {
    .app {
        grid-template-rows: minmax(6rem, auto) 1fr;
        grid-template-columns: 1fr;
        width: 100vw;
        height: 100%;
        max-width: none;
        max-height: none;
        min-height: 100dvh;
        border-radius: 0;
    }

    @supports not (min-height: 100dvh) {
        .app {
            min-height: 100vh;
        }
    }

    .app--mobile-show-item.app {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .search {
        grid-column: 1 / -1;
    }

    .app--mobile-show-item .search {
        display: none;
    }

    .app--mobile-show-item .list {
        display: none;
    }

    .details {
        display: none;
    }

    .app--mobile-show-item .details {
        display: block;
    }

    .details__header {
        min-height: 50rem;
    }

    .app--mobile-show-item .details__close-button {
        display: grid;
        place-content: center;
        position: absolute;
        top: 2rem;
        right: 0;
        padding: 1rem;
        font-size: 4rem;
        border: none;
        border-radius: 50% 0 0 50%;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        z-index: 1;
    }

    .message-display {
        align-content: start;
        height: 100vh;
    }
}
